/*CSS Document*/

body
{
    background-color: rgb(255, 245, 213);
    font-family: sans-serif;
    margin: 0em 0em 0em 3em;

}

h1 {
    color: rgb(0, 0, 0);
    padding: 1em 1em 0em 0em;
    margin: 0;
    font-size: xxx-large;
}

h2 {
    margin: 0;
    color: rgb(77, 76, 76);
}

h3{
    margin: 2em 0em 0.5em 0em;
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

h4{
    margin: 2em 0em 0.1em 0em;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(67, 67, 67);
    margin: 0.5em 0em 0em 1em;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

