/*CSS DOCUMENT*/

img {
    width: 100%; /*Please leave this line.*/
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

body {
    background-color: rgb(255, 228, 196);
}

h1{
    padding: 0.5em 2em 0.5em 2em;
    text-align: center;
    background-color: rgb(165, 42, 42);
    color: rgb(240, 255, 255);
}

h2 {
    text-align: center;
    margin: 0;
}

h3 {
    margin: 1em 0em 0em 1em;
    color: rgb(240, 255, 255);
}

figcaption {
    margin: 0em 0.5em 0em 0.5em;
    text-align: center;
}

ul, ol, li {
    margin: 0.85em 0.5em;
    color: rgb(240, 255, 255);
}

.ingredients {
    padding: 0.25em 0em 0.5em 0em;
    margin: 0.5em;
    background-color: rgb(165, 42, 42);
}

.directions {
    padding: 0.25em 0em 0.5em 0em;
    margin: 0.5em;
    background-color: rgb(165, 42, 42);
}

footer {
    text-align: center;
}